.logo, app-menu {
  display: inline-block;
  width: auto;
  position: relative;
  vertical-align: middle;
}

.wrap--header {
  /*background-color: #222;*/
  padding: 1em 0;
}

.logo {
  margin-right: 40px;
  margin-right: 4vw;
}
